html, body
{
    margin: 0;
    padding: 0;
    height: 100%
}
html
{
    scroll-behavior: smooth;
}
body
{
    background-image: url(ChatGPT\ Image\ 15.\ pro\ 2025.\ 21_13_10.png);
    background-repeat: no-repeat;
    background-size: cover;
}



a
{
    color: rgb(196, 66, 192);
    display: inline-block;
    padding: 3%;
    border-radius: 3%;
    background-color: transparent;
}
.meni
{   width: 80%;
    margin-right: 17%;
    margin-left:18%;
    margin-bottom: 2%;
}
.meni ul
{
    list-style-type: none;
    display: flex;
    gap:10%;
    padding-top:4%;
}
.meni ul li a
{
    white-space: nowrap;
    text-decoration: none;
    font-size: 140%;
    padding: 1%;
    border-radius: 3%;
    background: transparent;
    letter-spacing: 0.3vw;
}
.meni ul li a:hover
{
background-color: rgb(139, 7, 71);
color:rgb(245, 197, 220) ;
box-shadow: 16px 15px 32px rgba(0, 0, 0, 0.45);
border-radius: 5%;
padding: 1%;
background: rgba(202, 12, 126, 0.1);
font-size: 142%;
transition: 0.35s ease;
}



.mail
{
    display: inline-flex;
    align-items: center;

    width: 50px;
    padding: 10px;
    margin:0;

    font-size: 40px;
    color: rgb(245, 197, 220);
    text-decoration: none;
    
    background-color:transparent;
    overflow: hidden;
    transition: 0.7s ease;
}  
.mailikonica
{
    font-size: 40px;
    color:rgb(186, 24, 78);
}
.textemail
{
    margin-left: 10px;
    width: 50%;

    font-size: 20px;
    color:rgb(186, 24, 78);

    overflow: hidden;
    white-space: nowrap;
    transition: opacity 1.7s ease;
    
}
.mail:hover
{
    width: 350px;
    background-color: rgb(129, 28, 80);
}
.mail:hover  .textemail
{
    opacity: 1;  
    color:rgb(186, 24, 78);
}
.mail:hover .mailikonica
{
     color: rgb(186, 24, 78); 
}



.glavnimeni
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height:10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    box-sizing: border-box;

    background-color:rgb(130, 64, 100, 0.15) ;
    backdrop-filter: blur(10px);

    z-index: 999;
   
   
}
.podlista
{
    position: relative;
}
.podlista1
{   
    position:absolute;
    display: none;
    flex-direction: column;

    min-width: 180px;
    padding: 10px 0;

    background-color:transparent;
    list-style: none;
    
    opacity: 0 ;
}
.podlista1 li a
{
    display:block;
    padding: 10px 20px;
    
    color: blanchedalmond;
    text-decoration: none;
}
.podlista:hover .podlista1 {
    
    opacity: 1;
    background-color: rgba(138, 57, 99, 0.6);
    margin-top: 30%;
}





.projekti1
{
    display: none;
    position: absolute;
    flex-direction: column;

    padding: 3px 2px;
    min-height: 120px;
    width: 270px;

    list-style-type: none;
    background-color: transparent;

    opacity: 0;
}
.projektipodlista
{
    position: relative;
}
.projekti1 li a
{
    display: block;
    padding: 30px 20px;
    color: blanchedalmond ;
}
.projektipodlista:hover .projekti1
{
    opacity: 1;
    background-color:rgba(138, 57, 99, 0.6) ;
    margin-top: 18%;
   
}







.sekcija1
{
    display: flex;
    justify-content: space-between;
    gap:70px;
    padding: 40px;
    background-image: url(vektor.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.sek1
{
    width: 70%;
    max-width: 1000px;
    font-size: 20px;
    line-height: 1.6;
    color: rgb(39, 5, 21);
    margin-top: 60px;
    font-family:'Quicksand', light;
}

.slika1
{
    position: relative;
    margin-top: 70px;
    margin-left: 250px;
}
.glavna
{
    width: 90%;
    height: 60%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: 0.3s ease;
}
.preklop
{
    position: absolute;
    width: 70%;
    height: 50%;
    bottom: 20%;
    left: -50%;
    z-index: 5;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    transform: 0.3s ease;
}




.sekcija2
{
    height: 100vh;
    background-image: url(poz2sek2.avif);
    background-position: center;
}

.sek2
{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.interesovanjanaslov
{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 50px;
}
 
.interesovanjanaslov::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: rgb(66, 7, 41);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.7s ease;
}

.interesovanjanaslov:hover::after
{
    transform: scaleX(1);
}

.interesovanja
{
    list-style-type: decimal;
    font-size: 30px;
    font-family: "quicksand",light;
    color: rgb(44, 6, 17);
    line-height: 1.6;

}

.sek2a
{
    display: flex;
    justify-content: space-between;
}
.sek2slika1
{
    width: 30%;
    margin-right: 90px;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}
.sek2slika1:hover
{
    transform: scaleX(1.2);
    transition: 2s;
    box-shadow: 20px 20px 33px rgba(0, 0, 0, 0.5);
}


.drugipodnaslov
{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 50px;
    margin-left: 40px;
    color: rgb(59, 6, 31);
}

.drugipodnaslov::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: rgb(66, 7, 41);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.7s ease;
}

.drugipodnaslov:hover::after
{
    transform: scaleX(1);
}
.interesovanja2
{
    font-size: 30px;
    font-family: "quicksand",light;
    list-style-type: decimal;
    color: rgb(44, 6, 17);
    line-height: 1.6;
}


.interesovanja li, .interesovanja2 li
{
    opacity: 0;
    animation: listFade 0.6s ease forwards;
    animation-timeline: view();
    animation-range:entry 0% cover 20% ;
}
.interesovanja li
{
    animation: listFade 0.6s ease forwards;
}
.interesovanja2 li
{
    animation: listFade2 0.6s ease forwards;
}

.interesovanja li:nth-child(1)
{
    animation-delay: 0.5s;
}
.interesovanja li:nth-child(2)
{
    animation-delay: 0.8s;
}
.interesovanja li:nth-child(3)
{
    animation-delay: 1.1s;
}
.interesovanja li:nth-child(4)
{
    animation-delay: 1.4s;
}

@keyframes listFade
{
    to{
        opacity: 1;
    }
}


.interesovanja2 li:nth-child(1)
{
    animation-delay: 0.5s;
}
.interesovanja2 li:nth-child(2)
{
    animation-delay: 0.8s;
}
.interesovanja2 li:nth-child(3)
{
    animation-delay: 1.1s;
}
.interesovanja2 li:nth-child(4)
{
    animation-delay: 1.4s;
}

@keyframes listFade2
{
    to{
        opacity: 1;
    }
}







.sekcija3
{
    position: relative;
    height: 100vh;
    display: flex;
    margin-top: 250px;
}

.lijevo
{
    width: 50%;
    background-color: #f7d3e2;

}
.desno
{
    width: 50%;
    position: relative;
    background: url(sek32.jpg) center/cover no-repeat;
}
.preko
{
    position: absolute;
    inset: 0;
    background-color:#fad2e660;
}

.sadrzajsekcije3
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 2;
}

.ciljevi
{
    font-size: 70px;
    letter-spacing: 1.5;
    margin-top: 5px;
    color: #210310;
}

.interesovanja3
{
    font-size: 33px;
    list-style-type: decimal;
    color: #18020c;
    font-family: "quicksand", light;
    white-space: nowrap;
    line-height: 2;
    margin-bottom: 5%;
}

.interesovanja3 li
{
    opacity: 0;
    animation: fadein3 0.6s ease forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;

}

.interesovanja3 li:nth-child(1)
{
    animation-delay: 0.5s;
}
.interesovanja3 li:nth-child(2)
{
    animation-delay: 0.9s;
}
.interesovanja3 li:nth-child(3)
{
    animation-delay: 1.2s;
}
.interesovanja3 li:nth-child(4)
{
    animation-delay: 1.5s;
}
.interesovanja3 li:nth-child(5)
{
    animation-delay: 1.8s;
}
.interesovanja3 li:nth-child(6)
{
    animation-delay: 2.0s;
}
.interesovanja3 li:nth-child(7)
{
    animation-delay: 2.4s;
}

@keyframes fadein3
{
    to
    {
        opacity: 1;
    }
}






body.dark a
{
    color:rgb(229, 149, 227)
    
}
.darkmode1
{
    position: fixed;
    bottom: 20px;
    z-index: 999;
    left:5px;
    
}
#darkmode
{
    color: black;
    background-color: rgb(41, 7, 26);
    border-radius: 6px;
    border: 1px solid black;
}

body.dark .meni ul li a:hover
{
background: rgb(48, 4, 30);
background-color: rgba(144, 30, 85, 0.938);
color:rgb(242, 182, 211) ;
}
body.dark .glavnimeni
{
    background-color: rgb(57, 3, 23);
}




#skrolldugme
{
    position: fixed;
    bottom: 60px;
    display: none;
    z-index: 999;
     left:5px;
     padding: 5px 15px;
}

#skrolldugme
{
     color: black;
    background-color: rgba(41, 7, 26, 0.173);
     border-radius: 6px;
    border: 1px solid black;
}
.hamburger
{
    display: none;
    font-size: 30px;
    color: rgb(92, 7, 61);
    cursor: pointer;
}

@media screen and (max-width: 900px)
{
    
    .meni
    {
        display: none;
        width: 60%;
        position: absolute;
        top: 100%;
        right: 0;
        margin: 0;
    }

    .meni.active
    {
        display: block;
    }

    header
    {
        position: relative;
        margin-bottom: 5px;
    }

    .hamburger
    {
        display: block;
    }

    .meni .items
    {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: rgba(69, 4, 39, 0.25);
        padding: 1.2rem;
    }

    .meni .items li
    {
        width: 100%;
    }

    .meni .items li a
    {
        display: block;
        padding: 0.7rem 0;
        font-size: 1.1rem;
    }


    .projektipodlista:hover .projekti1,
    .podlista:hover .podlista1,
    .projekti1,
    .podlista1
    {
        display: none !important;
        visibility: hidden;
    }

    .sekcija1,
    .sek2a,
    .sekcija3
    {
        display: flex;
        flex-direction: column;
        background-image: none;
        margin: 0;
        padding: 0;
    }

    .sek1
    {
        width: 100%;
        margin-top: 20%;
    }

    .glavna,
    .preklop
    {
        display: block;
    }

    body
    {
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }

    html, body
    {
        overflow-x: hidden;
    }

    .interesovanjanaslov,
    .drugipodnaslov,
    .ciljevi
    {
        font-size: 2.2rem;
    }

    .interesovanja,
    .interesovanja2,
    .interesovanja3
    {
        font-size: 1.6rem;
        max-width: 100%;
        white-space: normal;
    }

    .sadrzajsekcije3
    {
        width: 100%;
        margin-top: 15%;
        position: relative;
    }

    .sek2slika1
    {
        width: 80%;
        margin: 0 auto;
    }
}


@media screen and (max-width:600px)
{
    .meni
    {
        display: none;
        width: 50%;
        position: absolute;
        top: 100%;
        right: 0%;
        margin: 0;  
    }
    .meni.active
    {
        display: block;
    }
    header
    {
        position: relative;
        margin-bottom: 2px;
    }
   .hamburger
   {
    display: block;
   }
   .meni .items
   {
    flex-direction: column;
    gap: 0.5rem;
    background-color: rgba(69, 4, 39, 0.307);
    padding: 1rem;
   }

   .meni .items li
   {
    width: 100%;
   }
   .meni .items li a
   {
    display: block;
    padding: 0.5rem 0;
   }
     .projektipodlista:hover .projekti1, .podlista:hover .podlista1
   {
    display:none !important;
   }
  .projekti1, .podlista1
  {
    display: none !important;
    visibility: hidden;
    overflow: hidden;
  }





   .sekcija1
   {
    display: flex;
    flex-direction: column !important;
    background-image: none;
    margin:0;
    padding: 0;
   }
   .sek1
   {
   width: 100%;
   }
   .glavna, .preklop
   {
    display: none;
   }
   body
   {
    margin: 0;
    padding: 0;
    min-height: 100vh;
   }
     html, body {
    overflow-x: hidden;
   }
   .sek2a, .sekcija3
   {
    display: flex;
    flex-direction: column !important;
    background-image: none;
   }
   .sekcija1 .sekcija2 .sekcija3
   {
    flex-direction: column;
   }
   .interesovanjanaslov, .drugipodnaslov
   {
    font-size: 2rem;
   }
   .interesovanja, .interesovanja2
   {
    font-size: 1.5rem;
   }
  
   .lijevo .desno .preko
   {
    display: none;
   }
   .ciljevi
   {
    font-size: 2rem;
   }
   .interesovanja3
   {
    font-size: 1.5rem;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: normal !important;
   }
   .sadrzajsekcije3
   {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative; 
    margin-top: 30%;
    
   }
   .sek2slika1
   {
    display: none;
   }
   .sekcija3
   {
    flex-direction: column;
     max-width: 100%;
    width: 100%;
    min-height: 1100px;  
}

}
